*{
    margin: 0;
    padding: 0 ;
    box-sizing: border-box;
}
body{
    background-color: #f0f0f2;
}


/*********nav bar styling *********/
a {
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}

.nav__bar > nav > ul > li > a {
    color: #dedede;
}
.nav__bar > nav > ul > li > a:hover {
    color: white;
    transition: 200ms ease-in-out;
}
.store-home{
    display: flex;
    color: white;
    background-color: rgb(68, 68, 68);
    padding-top: 10px;
    padding-bottom: 10px;
    /* height: 7vh; */
    font-family: "SF Pro Text","Myriad Set Pro","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
    font-size: 11.65px;
    letter-spacing: 0.75px;
}
.store-home a {
    color: white;
}
.store-home a:hover{
    color: rgb(102, 187, 255);
    cursor: pointer;
}
.edu {
    display: flex;
    padding-left: 11%;
}

.edu-home{
    padding-right: 10px;
    border-right: 1px rgb(131, 128, 128) solid;
    margin-right: 10px;
    padding-bottom: 0px;
    margin-bottom: 0px;
}
.edu-exit{
    padding-bottom: 0px;
    margin-bottom: 0px;
}

.nav__bar{
    background-color: rgba(0, 0, 0, 0.8);
    color: rgb(51, 51, 51);
    font-family: "SF Pro Text","Myriad Set Pro","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
    font-size: 15px;
    font-style: normal;
    padding-left: 10%;
    padding-right: 10%;
    letter-spacing: -.022em;
    line-height: 1.47059;
    font-weight: 400;
}

.nav_items{
    padding: 12px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 0 !important;  
}

@media screen and (max-width: 375px ){
    .nav_items{
        display: flex;
        flex-direction: column;
        padding-left: 1%;
        padding-right: 1%;
    }
    .nav__bar{
        padding-left: 20px;
        padding-right: 20px;
    }
    .nav_items > li{
        border-bottom: 0.5px solid #f0f0f273;
        padding-bottom: 5px;
        padding-top: 5px;
        list-style-type: none;
    }
    .nav_items > li:hover{
        transform: translateX(7px);
        transition: 300ms ease-in-out;
        background-color: rgba(0, 0, 0, 0.034);
    }
    
}
@media screen and (max-width: 420px ){
    .nav_items{
        display: flex;
        flex-direction: column;
        padding-left: 1%;
        padding-right: 1%;
    }
    .nav__bar{
        padding-left: 20px;
        padding-right: 20px;
    }
    .nav_items > li{
        border-bottom: 0.5px solid #f0f0f273;
        padding-bottom: 5px;
        padding-top: 5px;
        list-style-type: none;
    }
    .nav_items > li:hover{
        transform: translateX(7px);
        transition: 300ms ease-in-out;
        background-color: rgba(0, 0, 0, 0.034);
    }
    
}
@media screen and (max-width: 560px ){
    .nav_items{
        
        padding-left: 1%;
        padding-right: 1%;
    }
    .nav__bar{
        padding-left: 10px;
        padding-right: 10px;
        font-size: 0.7em;
    }
}
    
.header-sub-text{
    background-color: #dedede;
    text-align: center;
    
    padding-top: 7px;
    
    font-family: SF Pro Text,SF Pro Icons,AOS Icons,Helvetica Neue,Helvetica,Arial,sans-serif;
    font-size: 12px;
    color: rgb(51, 51, 51);
    font-weight: 400;
    letter-spacing: 0.04em;
}
.header-sub-text > p {
    padding-bottom: 8px;
}
.fas, 
.fab{
    font-size: 1.2em;
}



/* footer article atyling */

  .footnotes{
      font-size: 12px;
      font-family: SF Pro Text,Myriad Set Pro,SF Pro Icons,Helvetica Neue,Helvetica,Arial,sans-serif;
      color: #86868b;
      padding-left: 6%;
      padding-right: 6%;
  }
  .issue{
      margin-bottom: 3px;
  }
  article ol {
      padding: 0px 17px;
  }
  article li {
      padding-bottom: 0.8em;
  }
  footer {
    justify-content: center;
    padding: 2px;
  }


/* Style for the "Buy an iPad. Get AirPods." segment */

.red {
    color: #bf4800;
}
.cardimg{
    height: 271px;
    width: 283px;
    padding: 1em;
}
.cardbox {
    padding: 100px 0;

}
.card {
    width: 350px;
    margin: 0.3em;
    padding: 3em;
}
.card1 {
    font-size: 1.28em;
    line-height: 1.8em;
    border-radius: 6% 0 0 0; 
}
.card3{
    border-radius: 0 6% 0 0;
}
.card4 {
    border-radius: 0 0 0 6%;
}
.card6 {
    border-radius: 0 0 6% 0;
}

  /* style for the landing part */
  .card-ac{
    text-align: center;
    padding: 0 100px;
  }

  .card-ac h1 {
      font-size: 5em;
  }

  .card-ac p{
      font-size: 1.2em;
  }

  .card-ac1{
    display: block;
    margin: auto;
    width: 1000px;}
.sidebar{
    width: 100%;
    overflow: hidden;
    display: block;
}

.sidebar-table{
    width: 1057px;
    margin: auto;
}

.sidebar-row{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
}

.sidebar-prop{
    text-align: center;
    flex-basis: 33.33333%;
    max-width: 33.33333%;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    min-width: 0
}

.sidebar-prop1{
    padding: 0 12px;
}

.sidebar-prop-content{
    padding: 31px 0 94px;
}

.sidebar-prop-image{
    height: 80px;
}

.sidebar-compare{
    margin-left: 1px;
    margin-top: 10px;
    width: 111px;
    height: 64px;
    border: 0;
}

.sidebar-prop-info{
    display: block;
}

.sidebar-copy{
    padding: 15px 0 0;
    color: #1d1d1f;
    font-size: 21px;
    line-height: 1.381;
    font-weight: 400;
    letter-spacing: .011em;
}

.sidebar-util{
        margin-left: -10%;
        margin-right: -10%;
}

.sidebar-link{
    margin-top: 12px;
    color: #1d1d1f;
    font-size: 21px;
    line-height: 1.381;
    font-weight: 400;
    letter-spacing: .011em;
}

.sidebar-prop-link{
    text-decoration: none;
    color: #0070c9;
}
.stream-event-width{
    width: 100%;
    overflow: hidden;
}

.stream-event{
    padding: 0 0 74px;
}

.stream-event-table{
    width: 1049px;
    margin: 7px auto;   
}

.stream-event-row{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
}

.stream-content{
    flex-basis: 50%;
    max-width: 50%;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    min-width: 0;
}

.stream-wrapper{
    margin: 0 11px 0 0;
    min-height: 700px;
    background-color: #fff;
    border-radius: 22px;
    text-align: center;
  }

.stream-board-info{
    padding: 50px 25px 0;
}

.stream-head{
    margin-top: 10px;
    font-size: 48px;
    line-height: 1.08349;
    font-weight: 600;
    letter-spacing: -.003em;
    color: #1d1d1f;
    margin-left: 5%;
    margin-right: 5%;
}

.stream-body{
    font-size: 21px;
    line-height: 1.381;
    font-weight: 400;
    letter-spacing: .011em;
    padding: 8px 0 2px;
}

.stream-link{
    margin-top: .8em;
    padding: 0;
    display: block;
    padding: 10px 0 2px;
    font-size: 21px;
    line-height: 1.381;
    font-weight: 400;
    letter-spacing: .011em;
    text-decoration: none;
    color: #0070c9;
    cursor: pointer;
}

.stream-media{
    margin-top: 47px;
    border: 0;
    width: 413px;
    height: 238px;
    margin-bottom: 47px;
}

.stream-music{
    margin: 0 0 0 10px;
    min-height: 700px;
    background-color: #fff;
    border-radius: 22px;
    text-align: center;
 }
.accessory-width{
    overflow: hidden;
    background-color: transparent;
    margin: 37px auto 92px;
    max-width: 1070px;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
    position: relative;
}

.accessory-container{
    margin-left: auto;
    margin-right: auto;
    width: 980px;
    text-align: center;
}
.access-head{
    padding: 0 0 20px;
    font-size: 40px;
    line-height: 1.1;
    font-weight: 600;
    letter-spacing: 0;
    color: #111;
}

.accessory-table{
    margin: 0 -3px;
    width: auto;
    position: relative;
    z-index: 1;
    height: inherit;
}


.access-content-card{
    display: inline-block;
    height: inherit;
    overflow: hidden;
    text-align: center;
    vertical-align: top;
    white-space: normal;
    visibility: visible;
    width: 33.33333%;
    cursor: pointer;
}

.content-body{
    border: 5px solid #f0f0f2;
    background-color: #fff;
    padding: 34px 40px;
    max-width: 100%;
    text-align: center;
    box-sizing: border-box;
    line-height: 17px;
}

.content-image{
    min-height: 305px;
    text-align: center;
    padding: 0;
    line-height: 0;
}

.content-media1{
    width: 266px;
    height: 291px;
    margin-bottom: 14px;
    border: 0;
}


.accessory-content{
    min-height: 137px;
}

.content-head{
    text-align: center;
    font-weight: 400;
    font-size: 14px;
    margin: 0;
    line-height: 0;
    color: #111;
    padding: 0;
}

h3.content-head a{
    font-size: 17px;
    line-height: 1.47059;
    font-weight: 400;
    letter-spacing: -.021em;
    text-decoration: none;
    color: #111;
}

.content-info{
    margin: 7px 0 0;
}

.content-price{
    display: inline;
    text-align: center;
}

.content-pricing{
    font-size: 17px;
    line-height: 1.47059;
    font-weight: 400;
    letter-spacing: -.022em;
    margin: 0;
}

.accessory-footer{
    padding-top: 37px;
    font-size: 17px;
    line-height: 1.47059;
    font-weight: 400;
    letter-spacing: -.022em;
    padding: 7px 20px 0;
    text-align: center;
    margin-top: 30px;
}

.footer-link{
    color: #0070c9;
    text-decoration: none;
}
.dicsover-width{
    width: 100%;
    overflow: hidden;
}

.discover-accessory{
    padding: 20px 0 90px;
    background-color: #fff;
    display: block;
}

.discover-table{
    width: 984px;
    margin: 0 auto;
}

.discover-header{
    padding: 67px 0 52px;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
}

.discover-info{
    color: #1d1d1f;
    font-size: 40px;
    line-height: 1.1;
    font-weight: 600;
    letter-spacing: 0;
}

.discover-images{
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
}

.discover-media{
    flex: auto;
    max-width: initial;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    min-width: 0;
}

.discover-wrapper{
    padding: 0 10px;
    text-align: center;
}

.discover-content{
    display: block;
    cursor: pointer;
}

.discover-image{
    height: 162px;
    display: block;
}

.discover-image1{
    width: 144px;
    height: 145px;
}

.discover-link{
    text-decoration: none;
    color: #1d1d1f;
    margin: 0;
    padding: 0;
    font-size: 17px;
    line-height: 1.47059;
    font-weight: 400;
    letter-spacing: -.022em;
}

.higher-edu{
    width: 100%;
    overflow: hidden;
    display: block;
}

.higher-edu-table{
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 980px;
}

.higher-edu-bill{
    padding: 84px 0 34px;
    text-align: center;
}

.higher-edu-head{
    font-size: 24px;
    line-height: 1.16667;
    font-weight: 600;
    letter-spacing: .009em;
    color: #1d1d1f;
}

.higher-edu-subhead{
    color: #1d1d1f;
    margin: 6px 0 13px;
    font-size: 40px;
    line-height: 1.1;
    font-weight: 600;
    letter-spacing: 0;
}

.higher-edu-subcopy{
    color: #1d1d1f;
    margin: 0 0 9px;
    font-size: 21px;
    line-height: 1.381;
    font-weight: 400;
    letter-spacing: .011em;
}

.higher-edu-link{
    color: #0070c9;
    margin: 0 0 9px;
    font-size: 21px;
    line-height: 1.381;
    font-weight: 400;
    letter-spacing: .011em;
    text-decoration: none;
}

